<?xml version="1.0" encoding="UTF-8"?>

<!--uncomment this when you want to use annotation and not java config -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="org.springframework."/>
    <context:property-placeholder location="classpath:sport.properties"/>

<!--    required-->
<!--    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>-->

<!--    <bean id="happy" class="org.springframework.service.Required">-->
<!--        <property name="name" value="${name}"/>-->
<!--    </bean>-->

</beans>
